.div {
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 25px;
}

.div:hover {
    background-color: white;
}

.maintxt {
    text-align: center;
    color: white;
}

.viewbtn {
    color: black;
    background-color: white;
}

.viewbtn:hover {
    color: white;
    background-color: red;
}